input{
  height: 30px;
  width: 25%;
  font-size: 18px;
}
.pad {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.table-wrapper{
  margin: 10px 70px 70px;
  box-shadow: 0px 35px 50px rgba(0,0, 0, 0.2);
}
.fl-table{
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: rgb(122, 249, 115);

}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button4 {
  background-color: white;
  color: black;
  border: 2px solid #000080;
}
body{
  background-image: url("bg.jpg");
  background-size: cover;
}
